# PIYUSH_ANAND

In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.read_csv("https://raw.githubusercontent.com/AdiPersonalWorks/Random/master/student_scores%20-%20student_scores.csv")

In [3]:
data.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [4]:
data.tail() #dataset has only two features as hours and scores

    Hours  Scores
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [5]:
data.shape

(25, 2)

In [19]:
x= data[['Hours']]
x

    Hours
0     2.5
1     5.1
2     3.2
3     8.5
4     3.5
5     1.5
6     9.2
7     5.5
8     8.3
9     2.7
10    7.7
11    5.9
12    4.5
13    3.3
14    1.1
15    8.9
16    2.5
17    1.9
18    6.1
19    7.4
20    2.7
21    4.8
22    3.8
23    6.9
24    7.8

In [20]:
y= data['Scores']
y

0     21
1     47
2     27
3     75
4     30
5     20
6     88
7     60
8     81
9     25
10    85
11    62
12    41
13    42
14    17
15    95
16    30
17    24
18    67
19    69
20    30
21    54
22    35
23    76
24    86
Name: Scores, dtype: int64

In [21]:
print(x.shape)
print(y.shape)

(25, 1)
(25,)

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=0)
print(x_train.shape)
print(y_train.shape)

(20, 1)
(20,)

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
lin_model= LinearRegression()

In [26]:
lin_model.fit(x_train,y_train)

LinearRegression()

In [27]:
pred= lin_model.predict(x_test)
pred

array([16.88414476, 33.73226078, 75.357018  , 26.79480124, 60.49103328])

In [32]:
from sklearn.metrics import r2_score,mean_absolute_error

In [33]:
score= r2_score(pred, y_test)
print("accuracy of the model :",score*100,"%")

accuracy of the model : 95.46785947197246 %

In [35]:
mse= mean_absolute_error(pred,y_test)
print("mean_squared_error ",mse)

mean_squared_error  4.183859899002975